.toggle-checkbox {
    appearance: none;
    background-color: #ddd;
    border-radius: 9999px;
    width: 40px;
    height: 20px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .toggle-checkbox:checked {
    background-color: #4caf50;
  }
  
  .toggle-checkbox:checked::before {
    transform: translateX(20px);
  }
  
  .toggle-checkbox::before {
    content: '';
    background-color: #fff;
    border-radius: 9999px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transition: transform 0.2s;
  }